/* ===============
  Note CSS
  =============== */

.note {
  background-color: var(--color-gray-900);
  margin-bottom: var(--spacing-lg);
  margin-top: var(--spacing-lg);
  padding-bottom: var(--spacing-md);
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
  padding-top: var(--spacing-md);
}

.note-small {
  background-color: var(--color-gray-900);
  font-size: var(--font-size-sm);
  line-height: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
  margin-top: 0px;
  padding: var(--spacing-sm);
}

.note-small p {
  font-size: var(--font-size-sm);
  line-height: var(--spacing-lg);
  margin: 0;
  padding: 0;
}
