/* ===============
  Layout CSS
  =============== */

.layout {
  min-height: 100vh;
}

.layout__gradient-bar {
  height: 1rem;
  border: 0;
  background: linear-gradient(to right, var(--color-purple-500), var(--color-pink-500), var(--color-orange-500));
}
