.header {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  margin-bottom: 2rem;
}

.header__cover-image {
  margin-bottom: 2rem;
}

.header__info {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  display: flex;
  max-width: 48rem;
  align-items: center;
  justify-content: space-between;
}

.header__tags {
  font-weight: 300;
  color: var(--color-gray-500);
  display: flex;
  gap: 2rem;
}

.header__date {
  font-weight: 300;
  color: var(--color-gray-500);
}
