/* ===============
  Grid CSS
  =============== */

.grid {
    display: grid;
    gap: 1rem;
  }

  @media screen and (min-width: 768px) {
    .grid--columns-1 {
      grid-template-columns: 1fr;
    }

    .grid--columns-2 {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .grid--columns-3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
