/* ===============
  Caption CSS
  =============== */

.caption {
  background: var(--color-gray-700);
  color: var(--color-gray-500);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-tight);
  padding: var(--spacing-sm) var(--spacing-md);
  text-align: right;
}
