/* ===============
  Font Properties CSS
  =============== */

b,
strong {
  color: var(--color-orange-700);
  font-weight: 700;
}

i,
em {
  color: var(--color-orange-700);
  font-style: italic;
}

/* ===============
  Blockquote CSS
  =============== */

blockquote {
  border-color: var(--color-orange-500);
  color: var(--color-gray-100);
  border-left-width: 4px;
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1.75rem;
  padding-left: 1.5rem;
}

/* ===============
  Horizontal Rule CSS
  =============== */

hr,
.hr {
  border-color: var(--color-orange-500);
  border-bottom-width: 1px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

/* ===============
  Caption CSS
  =============== */

.caption {
  color: var(--color-gray-500);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* ===============
  Unordered List CSS
  =============== */

ul,
.post ul {
  list-style-type: disc;
  margin-left: 1rem;
}

li,
.post li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
