/* ===============
  Note CSS
  =============== */

.note {
  background-color: var(--color-gray-900);
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
}

.note-small {
  background-color: var(--color-gray-900);
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1.5rem;
  margin-top: 0px;
  padding: 0.5rem;
}

.note-small p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
}
