/* ===============
  Posts CSS
  =============== */

.post {
  line-height: 1.75rem;
}

.post .subtitle {
  color: var(--color-gray-500);
  font-style: italic;
  margin-top: -1rem;
}

.post p,
.post ul,
.post ol,
.post blockquote {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.post-title {
  font-weight: 700;
  text-shadow: 0.1em 0.1em 0 var(--color-purple-500);
}
