/* ===============
  More Posts CSS
  =============== */

.more-posts {
  margin-top: var(--spacing-4xl);
  margin-bottom: var(--spacing-4xl);
}

.more-posts__title {
  margin-bottom: var(--spacing-xl);
  text-align: center;
  font-size: var(--font-size-4xl);
}

.more-posts__list {
  display: grid;
  gap: var(--spacing-xl);
  grid-template-columns: 1fr;
}

/* Responsive styles */
@media (min-width: 640px) {
  .more-posts__title {
    margin-left: var(--spacing-md);
    text-align: left;
  }
}

@media (min-width: 768px) {
  .more-posts__title {
    font-size: var(--font-size-5xl);
  }
  
  .more-posts__list {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-2xl);
  }
}

@media (min-width: 1024px) {
  .more-posts {
    margin-top: var(--spacing-4xl);
    margin-bottom: var(--spacing-4xl);
  }
  
  .more-posts__list {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-3xl);
  }
}
