/* ===============
  Font Definitions
  =============== */

@font-face {
  font-family: 'Neon';
  src: url(./fonts/Neon-Solid.otf);
}

@font-face {
  font-family: 'Neon Lines';
  src: url(./fonts/NeonLines-Regular.otf);
}

/* ===============
  Tailwind Imports
  =============== */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===============
  Custom Properties
  =============== */

@import './custom-properties/colors.css';

/* ===============
  Page
  =============== */

html {
  background-color: var(--color-gray-800);
  color: var(--color-gray-300);
  font-weight: 300;
}

/* ===============
  Component CSS Imports
  =============== */

@import './effects/animations.css';
@import './effects/keyframes.css';

@import './content/general.css';
@import './content/headings.css';
@import './content/images.css';
@import './content/links.css';
@import './content/notes.css';
@import './content/pages.css';
@import './content/posts.css';
@import './content/code.css';
