.title {
  display: block;
  font-family: 'Neon';
  font-size: 2.25rem;
  letter-spacing: 0.05em;
  margin: 1rem auto;
  text-align: center;
  text-shadow:
    0 0 0.6rem var(--color-gray-600),
    0 0 1.5rem var(--color-gray-700),
    -0.2rem 0.1rem 1rem var(--color-gray-700),
    0.2rem 0.1rem 1rem var(--color-gray-700),
    0 -0.5rem 2rem var(--color-gray-800),
    0 0.5rem 3rem var(--color-gray-800);
}

@media (min-width: 640px) {
  .title {
    font-size: 3rem;
  }
}
