/* ===============
  Home Page CSS
  =============== */

.home-page__posts {
  margin-top: var(--spacing-4xl);
  margin-bottom: var(--spacing-4xl);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-3xl);
}

/* Responsive styles */
@media (min-width: 1024px) {
  .home-page__posts {
    margin-top: var(--spacing-4xl);
    margin-bottom: var(--spacing-4xl);
    gap: var(--spacing-4xl);
  }
}
