.post-preview__image-link {
  height: 18rem;
}

.post-preview__image {
  height: 18rem;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 640px) {
  .post-preview__image-link {
    height: 24rem;
  }
  
  .post-preview__image {
    height: 24rem;
  }
}