/* ===============
  Loading Component
  =============== */

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--color-gray-500);
}

.loading__spinner {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

.loading__spinner--aqua {
  border-color: var(--color-aqua-500);
  border-top-color: var(--color-aqua-900);
}

.loading__spinner--yellow {
  border-color: var(--color-yellow-500);
  border-top-color: var(--color-yellow-900);
}

.loading__spinner--orange {
  border-color: var(--color-orange-500);
  border-top-color: var(--color-orange-900);
}

.loading__spinner--pink {
  border-color: var(--color-pink-500);
  border-top-color: var(--color-pink-900);
}

.loading__spinner--purple {
  border-color: var(--color-purple-500);
  border-top-color: var(--color-purple-900);
}

.loading__spinner--green {
  border-color: var(--color-green-500);
  border-top-color: var(--color-green-900);
}

.loading__message {
  font-size: 1.125rem;
}

.loading__message--aqua {
  color: var(--color-aqua-500);
}

.loading__message--yellow {
  color: var(--color-yellow-500);
}

.loading__message--orange {
  color: var(--color-orange-500);
}

.loading__message--pink {
  color: var(--color-pink-500);
}

.loading__message--purple {
  color: var(--color-purple-500);
}

.loading__message--green {
  color: var(--color-green-500);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
