.cover-image {
  display: block;
  height: 24rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.cover-image__link {
  display: block;
}

.cover-image__image {
  height: 24rem;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 640px) {
  .cover-image {
    height: 36rem;
  }

  .cover-image__image {
    height: 36rem;
  }
}