.cover-image {
  display: block;
  height: 24rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.cover-image p {
  margin: 0;
}

.cover-image p a {
  text-decoration: none;
}

.cover-image__image {
  height: 24rem;
  object-fit: cover;
  object-position: bottom;
}

@media (min-width: 640px) {
  .cover-image {
    height: 36rem;
  }

  .cover-image__image {
    height: 36rem;
  }
}