/* ===============
  Font Properties CSS
  =============== */

b,
strong {
  color: var(--color-gray-100);
  font-weight: 700;
}

i,
em {
  color: var(--color-gray-100);
  font-style: italic;
}

/* ===============
  Blockquote CSS
  =============== */

blockquote,
.page-detail blockquote,
.post-detail blockquote {
  border-color: var(--color-orange-500);
  border-left-width: 4px;
  color: var(--color-gray-200);
  letter-spacing: 0.05em;
  padding-left: var(--spacing-lg);
}

/* ===============
  Horizontal Rule CSS
  =============== */

hr,
.hr {
  border-color: var(--color-orange-500);
  border-bottom-width: 1px;
  margin: 0;
}

article hr,
article .hr {
  margin: 3rem 0;
}

/* ===============
  Caption CSS
  =============== */

.caption {
  color: var(--color-gray-500);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* ===============
  Unordered List CSS
  =============== */

ul,
.page-detail ul,
.post-detail ul {
  list-style-type: disc;
  margin-left: 1rem;
}

li,
.page-detail li,
.post-detail li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
