/* ===============
  Image CSS
  =============== */

/* Mobile-first: Images full width by default */
.page img:not(.w-auto),
.post img:not(.w-auto) {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

@media (min-width: 1025px) {
  .page img:not(.w-auto),
  .post img:not(.w-auto) {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: calc(-50% - 3rem);
    margin-right: calc(-50% - 3rem);
    width: calc(100% + 6rem);
    max-width: none;
  }
}

.img-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  z-index: 1;
}

.img-link:before,
.img-link:after {
  content: '';
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-link:before {
  background-color: var(--color-aqua-500);
  z-index: -1;
}

.img-link:after {
  background-color: var(--color-purple-400);
  z-index: -2;
}

.link-inner {
  display: block;
}
