/* ===============
  Image CSS
  =============== */

.page img:not(.w-auto),
.post img:not(.w-auto) {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.img-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  z-index: 1;
}

.img-link:before,
.img-link:after {
  content: '';
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-link:before {
  background-color: var(--color-aqua-500);
  z-index: -1;
}

.img-link:after {
  background-color: var(--color-purple-400);
  z-index: -2;
}

.link-inner {
  display: block;
}
