/* ===============
  Pages CSS
  =============== */

.page h1,
.page h2,
.page h3,
.page h4 {
  font-family: 'Neon';
  font-weight: 700;
}

.page h2,
.page h3,
.page h4 {
  text-shadow: 0.1em 0.1em 0 var(--color-purple-500);
}

.page p,
.page ul,
.page ol {
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.page h3 {
  border-color: var(--color-gray-700);
  border-left-width: 4px;
  padding-left: 0.75rem;
}
