/* ===============
  Posts CSS
  =============== */

.post h1,
.post h2,
.post h3,
.post h4 {
  font-weight: 700;
}

.post p,
.post ul,
.post ol {
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.post .post-title {
  font-weight: 600;
  letter-spacing: 0.05em;
  text-shadow: 0.1em 0.1em 0 var(--color-purple-500);
}
