/* ===============
  Posts CSS
  =============== */

.post h1,
.post h2,
.post h3,
.post h4 {
  font-family: 'Neon';
  font-weight: 700;
}

.post h2,
.post h3,
.post h4 {
  text-shadow: 0.1em 0.1em 0 var(--color-purple-500);
}

.post p,
.post ul,
.post ol {
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}