/* ===============
  Font Definitions
  =============== */

@font-face {
  font-family: 'Neon';
  src: url(./fonts/Neon-Solid.otf);
}

@font-face {
  font-family: 'Neon Lines';
  src: url(./fonts/NeonLines-Regular.otf);
}

/* ===============
  Tailwind Imports
  =============== */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===============
  Page
  =============== */

html {
  @apply bg-gray-800;
  @apply text-gray-300;
  @apply font-light;
}

/* ===============
  CSS Imports
  =============== */

  @import './effects/animations.css';
  @import './effects/keyframes.css';
  
  @import './content/general.css';
  @import './content/headings.css';
  @import './content/images.css';
  @import './content/links.css';
  @import './content/notes.css';
  @import './content/posts.css';